header, footer{
	height: 100px;
	background-color: grey;
}

header{
	margin-bottom: 50px;
}

footer{
	margin-top: 50px;
}

.walnut img, .menu_walnut img {
	width: 100%;
}
#title {
			background-color: none;
			color: black;
		}
		h1 a {color: #ff0000; text-decoration: none;}


element.style {
}